extends layout
block content
 h1= title

 if (toShow == null)
    h2 No instance to delete
 else
    - let makeupid = toShow._id
    - let makeup_brand = toShow.brand
    - let makeup_id = toShow.id
    - let makeup_price = toShow.price
    - let actionid = "/resource/makeup/" + makeupid
    script let actionid = "#{actionid}"
    div
        div.row
            div(class='vehiclesAttr mr-3') Vehicle ID is:
            div #{makeupid}
        div.row
            div(class='vehiclesAttr mr-3') Vehicle name is:
            div #{makeup_brand}
        div.row
            div(class='vehiclesAttr mr-3') Vehicle mileage is:
            div #{makeup_id}
        div.row
            div(class='vehiclesAttr mr-3') Vehicle Price is:
            div #{makeup_price}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 
 script.
    function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/makeup'
    }
 script.
     function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
            method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Delete succeded")
            window.location.href='/makeup'
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Delete failed " + error )
        });
     }